:root {
  --branco: #fff;
  --preto: #000000;
  --primary-color: #4145A5;
  --secundary-color: #DEB449;
  --ternary-color: #1218A6;
  --hover-btn: #191a43;
  --secundary-dark: #977a33;
  --placeholder-text: #838383;
}
