:root {
  --branco: #fff;
  --preto: #000000;
  --primary-color: #4E5A72;
  --secundary-color: #F69648;
  --ternary-color: #1218A6;
  --hover-btn: #191a43;
  --secundary-dark: #977a33;
  --placeholder-text: #b8b8b8;
  --icon-color: #E0E0E0;
  --button-color: #0E0F23;
}
