@import "../../../../config-scss/mixins.scss";

.card {

  @include container-flex(5px, column);
  justify-content: center;
  align-items: center;

  mat-card-header {
    mat-card-title {
      font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: 700;
      font-size: 2rem;
      color: var(--primary-color);
    }
  }

  img {
    width: 72px;
    height: 72px;
    margin-top: 10px;
  }

  mat-card-content {
    width: 100%;

    @include container-flex(5px, column);
    justify-content: center;
    align-items:  center;

    .ident, .cred {
      @include container-flex(12px, row);
    }
  }

  .action{
    width: 100%;

    button {
      background-color: var(--primary-color);
      color: var(--branco);

      &:disabled {
        background-color: var(--placeholder-text);
      }
    }
  }
}



::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--secundary-color);
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-outline {
    color: var(--primary-color);
  }

  .mat-form-field-label {
    color: var(--primary-color);
  }
}
