<div class="main">
  <header>
    <img src="../../../assets/img/logo.svg" alt="logo">
    <div class="container-button">
      <button mat-flat-button class="btn-flat"> Cadastra-se </button>
      <button mat-raised-button routerLink="/login" class="btn-raised"> Entrar </button>
    </div>
  </header>

  <main class="container-main">
    <div class="space-text">
      <h3>Marketplace</h3>
      <h1>NEXTSTEP DEV</h1>

      <p>Como o dia a dia de um desenvolvedor de software é
        puxado, criamos uma solução para você Dev encontrar
        produtos que possam melhorar a sua experiência de trabalho
        sem precisar sair do seu ambiente de trabalho. Venha conhecer
        NextStep Dev a loja virtual feita por desenvolvedores para
        desenvolvedores.
      </p>

      <button mat-raised-button routerLink="/login"> Vamos lá </button>
    </div>
    <img src="../../../assets/img/imagem principal.png" alt="Dispositivos e tecnologias disponíveis na loja">
  </main>
</div>


