@import '../../../config-scss/mixins.scss';

.main{
  height: 100vh;
  background-image: url('../../../assets/img/efeito_fundo.svg');
  background-position: right top;
  background-size: 1000px, 1000px;
  background-repeat: no-repeat;

  @media (width > 1900px) {
    background-size: 1500px, 1500px;
  }

  @include container-flex(10px, column);
  align-items: center;
  justify-content: center;

  header {
    width: 100%;
    height: 72px;

    @include container-flex(10px, row);
    align-items: center;
    justify-content: space-between;

    img {
      height: 72px;
    }

    .container-button{
      @include container-flex(5px, row);
      align-items: center;
      margin-right: 25px;

      button {
        font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        color: var(--preto);
      }

      .btn-raised {
        background-color: var(--secundary-color);
        color: var(--branco);

        &:hover {
          background-color: var(--secundary-dark);
        }
      }

      .btn-flat {
        background-color: transparent;
        color: var(--branco);
      }
    }
  }
}


.container-main {
  width: 50%;
  height: 100%;
  margin-top: 15px;

  @include container-flex(150px, row);
  align-items: flex-start;
  justify-content: space-evenly;


  img {
    margin-top: -50px;

    @media (width > 1900px) {
      width: 720px;
      height: 720px;
      margin-top: -70px;
    }
  }

  @media (width > 1900px) {
    @include container-flex(380px, row);
  }

}

.space-text {
  height: auto;
  width: 400px;

  @media (width > 1900px){
    width: 600px;
  }

  @include container-flex(0, column);
  align-items: flex-start;
  justify-content:flex-start;

  h3 {
    margin-top: 120px;
    margin-bottom: -15px;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: var(--secundary-color);

    @media (width > 1900px) {
      font-size: 2rem;
      margin-bottom: 3px;
    }

  }

  h1 {
    height: auto;
    line-height: 5rem;
    word-wrap: break-word;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    color: var(--preto);

    @media (width > 1900px){
      font-size: 7rem;
      word-wrap: break-word;
      line-height: 6rem;
    }
  }

  p {
    font-family: Roboto Flex, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #8B8B8B;

    @media (width > 1900px) {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }

  button {
    background-color: var(--primary-color);
    color: var(--branco);
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;

    @media (width > 1900px) {
      font-size: 1.5rem;
      height: 60px;
      width: 170px;
    }

    &:hover {
      background-color: var(--hover-btn);
    }
  }
}





