<main class="container">
  <div class="section back">
    <div class="header">
      <h1>Crie sua conta</h1>
      <img src="../../../../assets/img/logo.svg" alt="Logo" />
    </div>
    <div class="form">
      <img src="../../../../assets/img/person.svg" alt="Person" />
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Github username</mat-label>
          <input
            matInput
            type="text"
            placeholder="Digite seu username ..."
          />
        </mat-form-field>
      </form>
      <div class="action">
        <button mat-raised-button class="buscar" (click)="openDialog()">Buscar</button>
      </div>
    </div>
  </div>
  <div class="section align">
    <div class="copy">
      <h1>&lt;Hello World/&gt;</h1>
      <p>de dispositivos para você, Dev, turbinar seu home office</p>
    </div>
  </div>
</main>
