<div class="main">
  <header>
    <div class="logo">
      <img src="../../../assets/img/logo.svg" alt="logo">
      <span>NEXTSTEP DEV</span>
    </div>
    <div class="search">
      <form>
        <mat-form-field appearance="outline">
          <input matInput type="text" placeholder="Digite o nome do produto ...">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </form>
    </div>
    <div class="container-icon">
      <span class="carteira">R$ 500,00 </span>
      <a href="#"> <mat-icon matBadge="15" matBadgeColor="warn">add_shopping_cart</mat-icon> </a>
      <a href="#"> <mat-icon>account_circle</mat-icon> </a>
    </div>
  </header>
</div>

<p>home works!</p>
