<div class="container-main">
  <div class="background">
    <mat-card class="card-container">
        <mat-card-header>
          <img src="../../../assets/img/logo.svg" alt="Logo">
          <mat-card-title>Entrar</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form>
            <mat-form-field class="width-input" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput type="text" placeholder="Digite o seu usuário">
            </mat-form-field>
            <mat-form-field class="width-input" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Digite a sua senha">
            </mat-form-field>
          </form>

          <section class="btn">
            <button mat-raised-button class="primary" (click)="logar()">Login</button>
            <button mat-raised-button class="secundary">Cadastra-se</button>
          </section>

        </mat-card-content>

        <mat-card-footer>
            Desenvolvido por Felipe Amorim
        </mat-card-footer>
    </mat-card>
  </div>
</div>
